body,
html {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
}

:root {
  --primary-color: rgb(160, 160, 160);
  --primary-color-light: rgb(230, 230, 230);
  --primary-blue: rgb(85, 144, 255);
  --primary-blue-hover: rgb(42, 117, 255);
  --primary-blue-light: rgb(171, 200, 254);
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(./shared/ui/fonts/Roboto-Light.ttf) format('truetype');
}
